<h1>ToDo List</h1>

<div *ngIf="!isLoading else elseBlock">
  <app-todo-item *ngFor="let todo of todos" [todo]="todo"
    (deleteTodoItemEvent)="deleteItemTodo($event)"></app-todo-item>
</div>

<div class="new-task-field">
  <mat-form-field class="example-full-width">
    <mat-label>New task</mat-label>
    <input matInput placeholder="Add your new todo..." [(ngModel)]="inputValue">
  </mat-form-field>

  <app-customer-button [title]="'Add todo'" (btnClickHandler)="addNewTodo()" [isDisabled]="!inputValue.trim().length"
    [color]="btnColor.green"></app-customer-button>
</div>

<ng-template #elseBlock>
  <div class="spinner"></div>
</ng-template>