<h1>ToDo List</h1>

<div *ngIf="!isLoading else elseBlock">
  <app-todo-item *ngFor="let todo of todos" [todo]="todo" class="task-list"
    (delete)="deleteTodoItem($event)"></app-todo-item>
</div>

<div class="new-task-field">
  <mat-form-field class="example-full-width">
    <mat-label>New task</mat-label>
    <input matInput placeholder="Add your new todo..." [(ngModel)]="inputValue">
  </mat-form-field>

  <app-todo-button title="Add todo" (btnClickHandler)="onAddButtonClick()" [isDisabled]="!inputValue.trim().length"
    [BtnColor]="BtnColor.Green"></app-todo-button>
</div>

<ng-template #elseBlock>
  <div class="spinner"></div>
</ng-template>
