:host {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
}

.new-task-field {
  display: flex;
  flex-direction: row;
}

.example-full-width {
  width: 100%;
}

.task-list {
  margin: 0 0 1em 0;
}

.spinner {
  margin: 0 auto;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: rgb(228, 30, 30);
  border-left-color: rgb(228, 30, 30);
  animation: spin 2s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
