:host {
  width: auto;
  display: flex;
  align-items: center;
  height: 32px;
  background-color: #ccc;
  border: black 1px;
  border-radius: 5px;
  padding-left: 14px;

  &:hover {
    background-color: #aaaaaa;
  }

  span {
    flex-grow: 3;
  }
}

button {
  display: inline-block;
  height: 100%;
  background-color: #c40a0a;
  color: #fafafa;

  &:hover {
    background-color: #aa0909;
  }
}